.home {
  background-image: url('../assets/backgrounds/h_img.jpg');
  height: 800px;
  background-position: center;
  text-align: center;
  color: white;

}

.home .logo {
  padding-top: 70px;
  margin-top: 70px;
}

.home h1 {
  padding-top: 30px;
  line-height: 2em;
  font-weight: bold;
  font-size: 3em;
}

.home p {
  text-transform: uppercase;
}

.home .mouse-click {
  padding-top: 180px;
}

.about {
  padding-top: 45px;
  padding-bottom: 30px;
  text-align: center;
}

.services {
  padding-top: 40px;
  text-align: center;
  background-image: url('../assets/backgrounds/s_image.jpg');
  height: 500px;
  color: white;
  padding-top: 160px;
}

.container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form {
  text-align: center;
  background-image: url('../assets/backgrounds/c_image.jpg');
  height: 500px;
}

.form input {
  width: 400px;
}

.form textarea {
  width: 460px;
}

#description1 {
  display: none;
}

#description2 {
  display: none;
}


#description3 {
  display: none;
}
